/*+++++++++++ COMMON STYLE +++++++++++*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

:root {
    --bg-blue: #255EE9;
}

.flex {
    display: flex;
}



.center-w80 {
    width: 80%;
    margin: auto;
}

.button {
    padding: 0.6rem 1rem;
    border-radius: 25px;
    margin-right: 1rem;
    border: 0;
}

.white-button {
    color: #000000;
}

.black-button {
    background-color: #000000;
    color: #FFFFFF;
}

.bg-grey {
    background-color: #D3D3D3;
}

.bg-black {
    background-color: black;
}



/*+++++++++++ NAV STYLE +++++++++++*/

body>.main-box {
    background-color: var(--bg-blue);
}

nav {
    padding: 1rem 0;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}

.button-nav {
    color: #FFFFFF;
    font-weight: 400;
    padding: 0.8rem;
    border: 0;
    background-color: var(--bg-blue);
}

/*+++++++++++ JUMBLE-DOWNLOAD STYLE +++++++++++*/
.container-jumble {
    background-image: url(./img/jumbo.png);
    background-size: cover;
    height: 33em;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.jumble-download {
    width: 50%;
    text-align: center;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
}

.jumble-download>h1 {
    line-height: 4rem;
    color: #FFFFFF;
}

.jumble-download>p {
    line-height: 1.5rem;
    color: #FFFFFF;
    margin-bottom: 1rem;
}

/*+++++++++++ SEZIONI STYLE +++++++++++*/
.padding-sez {
    padding: 2rem 0;
}

.rettangolo-std {
    height: 23rem;
    display: flex;
}

.box-right {
    width: 55%;
}

.box-left {
    width: 45%;

}

.text-box {
    margin-left: 7rem;
    width: 45%;
    height: 100%;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;

}

.text-box h1,
.text-big-section h1 {
    font-size: 1.9rem;
    margin-bottom: 1rem;
}

.text-box p,
.text-big-section p {
    font-size: 0.8rem;
    line-height: 1.5rem;
}


/*+++++++++++ PRIMA-SECONDA-TERZA STYLE +++++++++++*/
.prima-foto {
    background-image: url(./img/item1.svg);
    background-size: cover;
}

.seconda-foto {
    background-image: url(./img/item2.svg);
    background-size: cover;
}

.terza-foto {
    background-image: url(./img/item3.svg);
    background-size: cover;
}

/*+++++++++++QUARTA STYLE +++++++++++*/
.sezione-big {
    padding-top: 2.5rem;
    padding-bottom: 5rem;
}

.inner-sezione-big {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
}

.text-big-section {
    width: 60%;
    text-align: center;
}

.end-big-section {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
}

.end-big-section button {
    margin-top: 2rem;
    background-color: #7289DA;
    color: #FFFFFF;
}

.end-big-section h2 {
    position: relative;
    top: -20px;
}

/*+++++++++++QUINTA STYLE +++++++++++*/
.info-sezione {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.social-box {
    width: 20%;
}

.social-box h2 {
    color: #7289DA;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.social-box i,
.social-box p {
    color: #FFFFFF;
    margin-bottom: 0.5rem;
}

.social-box button {
    background-color: black;
    border: 0;
    padding: 1rem;
    border-radius: 20px;
}

.extra-link {
    width: 20%;
    /* display: flex; */
    flex-direction: column;
    padding-left: 5%;
    line-height: 2rem;
}

.extra-link a {
    text-decoration: none;
    color: white;
}

.extra-link p {
    color: #7289DA;
}

/*+++++++++++Footer STYLE +++++++++++*/
footer {
    padding-top: 1rem;
}

.end-section {
    height: 3rem;
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: red;
}

.logo-end,
.button-end {
    padding: 0.2rem;
    background-color: #F08080;
}