/*+++++++++++ COMMON STYLE +++++++++++*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    max-width: 1500px;
    margin: 0 auto;
}

:root {
    --bg-blue: #255EE9;
}

.flex {
    display: flex;
}

.button-nav:hover {
    cursor: pointer;
    border: 1px solid white;
}

.accedi-btn:hover,
.container-jumble button:hover,
.end-big-section button:hover,
.end-section button:hover,
.social-box button:hover {
    cursor: pointer;
    border-color: white;
    box-shadow: white 0 0.2rem 1rem;
}

.center-w80 {
    width: 80%;
    margin: auto;
}

.button {
    padding: 0.6rem 1rem;
    border-radius: 25px;
    margin-right: 1rem;
    border: 0;
}

.white-button {
    color: #000000;
}

.black-button {
    background-color: #000000;
    color: #FFFFFF;
}

.bg-grey {
    background-color: #D3D3D3;
}

.bg-black {
    background-color: black;
}


/*+++++++++++ NAV STYLE +++++++++++*/
.nav-box {
    background-color: var(--bg-blue);
}

nav {
    padding: 1rem 0;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}

.button-nav {
    color: #FFFFFF;
    font-weight: 400;
    padding: 0.8rem;
    border-radius: 25px;
    border: 1px solid transparent;
    background-color: var(--bg-blue);
}

/*+++++++++++ JUMBLE-DOWNLOAD STYLE +++++++++++*/
.container-jumble {
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-position: top;
}

.jumble-download {
    padding: 6em 0;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
}

.jumble-download>h1 {
    line-height: 4rem;
    color: #FFFFFF;
}

.jumble-download>p {
    line-height: 1.5rem;
    color: #FFFFFF;
    margin-bottom: 1rem;
}

/*+++++++++++ SEZIONI STYLE +++++++++++*/
.padding-sez {
    padding: 2rem 0;
}

.box-right {
    width: 55%;
}

.box-left {
    width: 45%;
}

.text-box {
    padding: 2rem 0;
    margin-left: 7rem;
    width: 45%;
    /* display: flex; */
    flex-direction: column;
}

.text-box h1,
.text-big-section h1 {
    font-size: 1.9rem;
    margin-bottom: 1rem;
}

.text-box p,
.text-big-section p {
    font-size: 0.8rem;
    line-height: 1.5rem;
}


/*+++++++++++ PRIMA-SECONDA-TERZA STYLE +++++++++++*/
.prima-foto {
    background-image: url(./img/item1.svg);
    background-size: cover;
}

.seconda-foto {
    background-image: url(./img/item2.svg);
    background-size: cover;
}

.terza-foto {
    background-image: url(./img/item3.svg);
    background-size: cover;
}

/*+++++++++++QUARTA STYLE +++++++++++*/
.sezione-big {
    padding-top: 2.5rem;
    padding-bottom: 5rem;
}

.inner-sezione-big {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
}

.text-big-section {
    width: 60%;
    text-align: center;
}

.end-big-section {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.end-big-section button {
    margin-top: 2rem;
    background-color: #7289DA;
    color: #FFFFFF;
    padding: 0.6rem 1rem;
    border-radius: 25px;
    border: 0;
}

.end-big-section h2 {
    position: relative;
    top: -20px;
}

.big-foto {
    width: 100%;
}

/*+++++++++++QUINTA STYLE +++++++++++*/
.info-sezione {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.social-box {
    width: 20%;
}

.social-box h2 {
    color: #7289DA;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.social-box i,
.social-box div {
    color: #FFFFFF;
    margin-bottom: 0.5rem;
}

.social-box button {
    background-color: black;
    border: 0;
    padding: 1rem;
    border-radius: 20px;
}

.extra-link {
    width: 20%;
    /* display: flex; */
    flex-direction: column;
    padding-left: 5%;
    line-height: 2rem;
}

.extra-link a {
    text-decoration: none;
    color: white;
}

.extra-link p {
    color: #7289DA;
}

#bandiera-ita {
    height: 0.8rem;
    margin-right: 0.5rem;
}

/*+++++++++++Footer STYLE +++++++++++*/
.end-section {
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid white;
}

.end-section button {
    background-color: #7289DA;
    color: #FFFFFF;
    padding: 0.4rem 0.5rem;
    border-radius: 25px;
    border: 0;
    margin: 1rem 0;
}

#img-footer {
    width: 100%;
    style-color: red;
}

/*+++++++++++SVG STYLE +++++++++++*/

svg {
    color: #D3D3D3;
    display: block;
    padding-top: 1rem;
}

.reverse-svg {
    transform: rotate(180deg);
}